In [71]:
import pandas as pd

In [72]:
data = pd.read_csv("Parking_regulations__except_non-metered_color_curb_.csv")

# Chosing the most usefull columns - description
- ID column contains only nan and 0.0 values so we delete it
- HOURS contains the same information as HRS_BEGIN + HRS_END but in worse data format so we chose HRS_BEGIN & HOURS_END insted of HOURS
- Agency contains only 97 non-null values, which is only 1.2% of our data so we delete it
- HRS_BEGIN is the same as FROM_TIME but it has less null values and data format is better for us if we want to use this data set for some ML - example: 
    - 3am in FROM_TIME = 300 in HRS_BEGIN, 3pm in FROM_TIME = 1500 in HRS_BEGIN
- HRS_END is better than TIME_TO on the same basis as the above

In [73]:
columns = ['REGULATION', 'DAYS', 'HRS_BEGIN', 'HRS_END', 'HRLIMIT', 'LAST_EDITED_USER', 'LAST_EDITED_DATE', 'EXCEPTIONS', 'shape']

In [74]:
df = data[columns]

In [75]:
df.head()

,REGULATION,DAYS,HRS_BEGIN,HRS_END,HRLIMIT,LAST_EDITED_USER,LAST_EDITED_DATE,EXCEPTIONS,shape
0,Time limited,M-Sa,700.0,1800.0,1.0,MTA,20170513001346,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.49074 37.74207, -122.49..."
1,Time limited,M-F,900.0,1800.0,4.0,GCHAN,20190820232238,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.38895 37.742348, -122.3..."
2,Time limited,M-F,900.0,1800.0,4.0,GCHAN,20190820232234,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.38897 37.742317, -122.3..."
3,Time limited,M-F,900.0,1800.0,4.0,GCHAN,20190820232309,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.388504 37.74297, -122.3..."
4,No parking any time,NaN,NaN,NaN,NaN,RAYNELLCOOPER,20191031234514,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.38898 37.764225, -122.3..."

In [77]:
print(df.REGULATION)

0              Time limited
1              Time limited
2              Time limited
3              Time limited
4       No parking any time
               ...
7742      Government permit
7743      Government permit
7744      Government permit
7745      Government permit
7746      Government permit
Name: REGULATION, Length: 7747, dtype: object

# Remove the rows containing an empty value in REGULATION

In [78]:
rows_to_drop_indexes = []
for index, row in df.iterrows():
    if pd.isnull(row.REGULATION):
        rows_to_drop_indexes.append(index)
print(rows_to_drop_indexes)

[10, 13, 29, 139, 141, 142, 149, 160, 161, 1816, 2407, 2449, 2450, 2861, 2944, 2999, 3000, 3041, 3628, 3635, 4219]

In [79]:
df = df.drop(df.index[rows_to_drop_indexes])

In [80]:
df.head()

,REGULATION,DAYS,HRS_BEGIN,HRS_END,HRLIMIT,LAST_EDITED_USER,LAST_EDITED_DATE,EXCEPTIONS,shape
0,Time limited,M-Sa,700.0,1800.0,1.0,MTA,20170513001346,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.49074 37.74207, -122.49..."
1,Time limited,M-F,900.0,1800.0,4.0,GCHAN,20190820232238,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.38895 37.742348, -122.3..."
2,Time limited,M-F,900.0,1800.0,4.0,GCHAN,20190820232234,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.38897 37.742317, -122.3..."
3,Time limited,M-F,900.0,1800.0,4.0,GCHAN,20190820232309,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.388504 37.74297, -122.3..."
4,No parking any time,NaN,NaN,NaN,NaN,RAYNELLCOOPER,20191031234514,None. Regulation applies to all vehicles.,"MULTILINESTRING ((-122.38898 37.764225, -122.3..."

# Lower case
As we can se below in not-number data we have duplicates like 'Time limited' and 'Time LImited' which are done by case sensitivity so we want to transform all strings into lower case

In [76]:
regulations = [reg for reg in df.REGULATION if not pd.isnull(reg)]
regulations = list(set(regulations))
for regulation in regulations:
    print(regulation)

Time limited
No parking any time
No Oversized Vehicles
No Parking Anytime
Government permit
Time Limited
Government Permit
No overnight parking
Limited No Parking
No oversized vehicles
Paid + Permit
Time LImited
No Stopping

In [81]:
string_cols = ['REGULATION', 'DAYS', 'LAST_EDITED_USER', 'EXCEPTIONS']
for col in string_cols:
    for value in df[col]:
        if isinstance(value, str):
            df[col] = df[col].replace([value],value.lower())

In [82]:
df.head()

,REGULATION,DAYS,HRS_BEGIN,HRS_END,HRLIMIT,LAST_EDITED_USER,LAST_EDITED_DATE,EXCEPTIONS,shape
0,time limited,m-sa,700.0,1800.0,1.0,mta,20170513001346,none. regulation applies to all vehicles.,"MULTILINESTRING ((-122.49074 37.74207, -122.49..."
1,time limited,m-f,900.0,1800.0,4.0,gchan,20190820232238,none. regulation applies to all vehicles.,"MULTILINESTRING ((-122.38895 37.742348, -122.3..."
2,time limited,m-f,900.0,1800.0,4.0,gchan,20190820232234,none. regulation applies to all vehicles.,"MULTILINESTRING ((-122.38897 37.742317, -122.3..."
3,time limited,m-f,900.0,1800.0,4.0,gchan,20190820232309,none. regulation applies to all vehicles.,"MULTILINESTRING ((-122.388504 37.74297, -122.3..."
4,no parking any time,NaN,NaN,NaN,NaN,raynellcooper,20191031234514,none. regulation applies to all vehicles.,"MULTILINESTRING ((-122.38898 37.764225, -122.3..."

# Remove the rows containing an empty value in shape

In [88]:
rows_to_drop_indexes = []
for index, row in df.iterrows():
    if pd.isnull(row['shape']):
        rows_to_drop_indexes.append(index)
print(rows_to_drop_indexes)

[1677, 1967, 3257]

In [89]:
df = df.drop(df.index[rows_to_drop_indexes])

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7723 entries, 0 to 7746
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REGULATION        7723 non-null   object
 1   DAYS              7455 non-null   object
 2   HRS_BEGIN         7635 non-null   float64
 3   HRS_END           7635 non-null   float64
 4   HRLIMIT           7472 non-null   float64
 5   LAST_EDITED_USER  7723 non-null   object
 6   LAST_EDITED_DATE  7723 non-null   int64
 7   EXCEPTIONS        7617 non-null   object
 8   shape             7720 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 603.4+ KB

# Get regulations names

In [91]:
regulations = [reg for reg in df.REGULATION if not pd.isnull(reg)]
regulations = list(set(regulations))
for regulation in regulations:
    print(regulation)

no stopping
no overnight parking
paid + permit
government permit
limited no parking
no parking any time
time limited
no oversized vehicles
no parking anytime

In [95]:
shapes = []
for reg in regulations:
    reg_shape = []
    for index, row in df.iterrows():
        if row.REGULATION == reg:
            reg_shape.append(row['shape'])
    shapes.append(reg_shape)

# Create dictionary regulation_name: shape

In [97]:
shapes_dict = {}
for reg, sh in zip(regulations, shapes):
    shapes_dict[reg] = sh